**/.env
**/__pycache__/
**/*.pyc
**/*.log
**/.env
**/db.sqlite3
**/venv/
**/.vscode/
**/.DS_Store
**/node_modules/
**/dist/
**/.vite/
**/*.local
**/build/
**/staticfiles/
**/media/
**/coverage/
**/.eslintcache
**/*.tgz
**/.cache
**/tmp/
**/*.pid
**/.idea/
**/*.swp
**/Thumbs.db
**/npm-debug.log*
**/yarn-error.log*
**/.npm
**/.parcel-cache
**/*.tsbuildinfo
**/.dynamodb/
**/.vscode